01-hosting/BiggiDemo/Packages/com.unity.inputsystem/
02-send-data/BiggiDemo/Packages/com.unity.inputsystem/
03-chalice-api/.venv/
03-chalice-api/workshopapi/.idea/
03-chalice-api/workshopapi/__pycache__/
01-hosting/BiggiDemo/.idea/
02-send-data/BiggiDemo/.idea/
